.content {
  margin-top: -108%;
  margin-left: 350px;
  font-family: "Josefin Sans";
  background-color: #ffffff;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "Josefin Sans";
  color: #60443a;
}

.form_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.Supply_detail {
  background-color: #fff2e3;
  width: 703px;
  height: 295px;
}

.form_group label {
  display: block;
  margin: 5px 25px;
  font-size: 15px;
  font-weight: bold;
}

.form_group input,
.form_group textarea {
  margin-left: 25px;
  width: 627px;
  padding: 10px;
  border: 2px solid #000000;
  background-color: #fff2e3;
}

textarea {
  height: 140px;
}

.Note label {
  display: block;
  margin-bottom: 5px;
}

.Note {
  background-color: #fff2e3;
  width: 301px;
  height: 102px;

  p {
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
  }

  textarea {
    margin: -5px 10px;
    width: 275px;
    height: 45px;
    font-size: 15px;
    border: none;
    background-color: #fff2e3;
  }

  label {
    margin-left: 20px;
    font-size: 15px;
    font-weight: lighter;
  }
}

.form_group3 {
  background-color: #fff2e3;
  width: 703px;
  height: 258px;

  .image_upload {
    margin-left: 395px;
    padding: 10px;

    background-color: #fff2e3;
    border: none;
    text-align: left;
    color: #1919e8;
    cursor: pointer;
  }

  label {
    font-size: 15px;
    font-weight: bold;
    margin-left: 25px;
  }
}

.remove_btn {
  background-color: #fff2e3;
  border: 1px solid #000000;
  cursor: pointer;
}

.save button {
  background-color: #fff;
  margin-top: 15px;
  margin-right: 60px;
  padding: 2px 30px;
  border: 3px solid #60443a;
  cursor: pointer;
  color: #60443a;
  font-family: "Josefin Sans";
  font-weight: 400px;
  font-size: 20px;
  position: absolute;
  top: 20%;
  right: 1%;

  &:hover {
    background-color: #60443a;
    color: #fff;
  }
}

.cancel button {
  justify-self: flex-end;
  padding: 10px;
  background-color: #e74c3c;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  margin-left: 80%;
  &:hover {
    background-color: #b33c2f;
  }
}
