.dashboard {
    font-family: 'Arial', sans-serif;
    color: #4a4a4a;
    margin-top: -1700px;
    margin-left: 400px;
    max-width: 1000px;
    .dashboard_header {
      background-color: #FFF2E3;
        padding: 20px;
      border-radius: 8px;
        hr {
 
            border: 1px solid #E4C8A6;

        }
      h2 {
        font-family: 'Josefin Sans';
        font-size: 15px;
        margin-bottom: 10px;
        color: #60443A;
      }
  
      .dashboard_stats {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin-left: 125px;

        .vertical_line {
            margin-top: 10px;
            
            width: 1px; 
            height: 50px;
            border: 1px solid #E4C8A6;
            background-color: #E4C8A6; 
            
        }
          
  
        .stat_item {
          display: flex;
          align-items: center;
          background: transparent;
          padding: 10px 15px;
        //   border-radius: 8px;
        //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
          .icon {
            font-size: 1.5rem;
            margin-right: 10px;
            color: #d69c76;
          }
  
          p {
            margin: 0;
            font-family: 'Jura';
            font-size: 15;
            color: #60443A;
          }
  
          h3 {
            margin: 0;
            font-family: 'Jura';
            font-size: 20;
            font-weight: bold;
            color: #60443A;
          }
        }
      }
    }
  
    .dashboard_overview {
      margin: 30px 0;
  
      h3 {
        font-family: 'Josefin Sans';
        font-size: 1.2rem;
        margin-bottom: 15px;
      }
  
      .chart {
        font-family: 'Josefin Sans';
        background-color: #FFF2E3;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-size: 1rem;
        color: #60443A;
      }
    }
  
    .dashboard_products {
      display: flex;
      justify-content: space-between;
      
  
      .product_section {
        flex: 1;
        background-color: #FFF2E3;
        padding: 20px;
        margin: 0 10px;
        border-radius: 8px;
        text-align: center;
        
  
        h4 {
          font-size: 1rem;
          font-family: 'Jura';
          font-weight: bold;
          color: #60443A;
        }
      }
    }
  }
  