.content {
  position: absolute;
  margin-top: -105%;
  margin-left: 20%;
  font-family: "Josefin Sans";
  background-color: #ffffff;
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h1 {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  margin-top: -100px;
  font-family: "Josefin Sans";
  color: #60443a;
}

.form-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-left: -95%;
  margin-bottom: 20px;
}

.Product {
  background-color: #fff2e3;
  width: 703px;
  height: 490px;
}

.form-group {
  margin-bottom: 15px;
}

.gr1 {
  margin-top: 500px;
  margin-left: -950px;
}

.form-group label {
  display: block;
  margin: 5px 25px;
  font-size: 15px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  margin-left: 25px;
  width: 627px;
  padding: 10px;
  border: 2px solid #000000;
  background-color: #fff2e3;
}

textarea {
  height: 140px;
}

.radio-group label {
  display: block;
  margin-bottom: 5px;
}

.radio-group1,
.radio-group2 {
  background-color: #fff2e3;
  p {
    padding: 10px 20px;
    /* margin-left: 20px; */
    font-size: 20px;
    font-weight: bold;
  }

  label {
    margin-left: 20px;
    font-size: 15px;
    font-weight: lighter;
  }
}

.radio-group1 {
  width: 301px;
  height: 130px;
}

.radio-group2 {
  width: 303px;
  height: 238px;
}

.supplier input {
  margin-left: 20px;
  border: 2px solid #000000;
  background-color: #fff2e3;
}

.form-group3,
.create-table {
  label {
    font-size: 15px;
    font-weight: bold;
  }
}

.form-group3 {
  background-color: #fff2e3;
  width: 703px;
  height: 258px;

  img {
    display: flexbox;
    margin: 0px 20px;
    width: auto;
    gap: 10px;
  }

  .image-upload {
    margin-left: 395px;
    padding: 10px;

    background-color: #fff2e3;
    border: none;
    text-align: left;
    color: #1919e8;
    cursor: pointer;
  }
}

.create-table {
  margin: 20px 0px;
  background-color: #fff2e3;
  width: 703px;
  height: 270px;
  margin-top: 600px;
  margin-left: -300px;
  img {
    align-items: center;
    width: 25px;
    height: 25px;
  }

  .version {
    margin-left: 450px;
    padding: 10px;
    background-color: #fff2e3;
    border: none;
    text-align: left;
    color: #1919e8;
    cursor: pointer;
  }

  .remove-btn {
    background-color: #fff2e3;
    border: 1px solid #000000;
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table th,
  table td {
    text-align: left;
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }

  table th {
    background-color: #fff2e3;
  }
}

.button {
  background-color: #fff;
  margin-top: 15px;
  margin-right: 60px;
  padding: 2px 30px;
  border: 3px solid #60443a;
  cursor: pointer;
  color: #60443a;
  font-family: "Josefin Sans";
  font-weight: 400px;
  font-size: 20px;
  position: absolute;
  top: 20%;
  right: 1%;

  &:hover {
    background-color: #60443a;
    color: #fff;
  }
  /* justify-self: flex-end;
    padding: 10px ;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px; */
}
.btn {
  margin-left: 250px;
}
