.title {
    position: absolute;
    left: 20%;
    top: 30%;
    font-family: "Josefin Sans";
    color: #60443a;
}

.table {
    table-layout: fixed;
    position: absolute;
    margin-left: 19%;
    margin-top: -95%;
    border-collapse: collapse;
    width: 80%;
    padding-right: 0px;
    font-family: "Josefin Sans";

    td,
    th {
        border: 2px solid #60443a;
        padding: 10px;
        vertical-align: middle;
    }

    tr {
        background-color: #fff;
        text-align: center;
    }

    tr:hover {
        background-color: #fff2e3;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #60443a;
        color: white;
        font-size: 20px;
    }

    input {
        width: 50px;
        text-align: center;
    }
}

.add {
    margin-left: 20px;
    padding: 3px;
    font-family: 'Josefin Sans';
    font-size: 15px;

    &:hover {
        background-color: #60443a;
        color: white;
    }
}

.btn {
    display: flex;
    align-items: center;
    margin-left: 80%;
    margin-top: -105%;
    position: absolute;
    text-align: center;
    justify-content: center;
    font-family: "Josefin Sans";
    width: 150px;
    height: 40px;

    &:hover {
        background-color: #a67969;
    }
}