$hover-color: #60443a;

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Josefin Sans";
    color: #60443a;
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 20px;
}

.delete_button {
    background-color: #fff;
    padding: 5px 10px;
    border: 3px solid $hover-color;
    cursor: pointer;
    color: #60443a;
    font-family: "Josefin Sans";
    font-weight: 400px;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 20%;
    margin-left: 20px;

    &:hover {
        background-color: darken($hover-color, 10%);
        color: #fff;
    }
}

.content {
    padding: 30px;
    position: absolute;
    top: 40%;
    left: 20%;
    background-color: #fff2e3;
    margin-left: 20px;
    font-family: "Josefin Sans";
    width: 45%;

    label {
        display: block;
        font-size: 20px;
        padding-bottom: 10px;
        color: #60443a;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 2px solid #60443a;
        background-color: none;
    }

    h3 {
        color: #60443a;
        font-size: 25px;
    }

    .centerdetail {
        margin-top: -40px;
        margin-left: 40%;
    }

    .detail {
        margin-top: 20px;
        font-size: 14px;
        line-height: 1.6;

        .leftdetail {
            display: inline-block;

            img {
                width: 150px;
            }
        }

        .rightdetail {
            margin-left: 175px;
            display: inline-block;
        }
    }

    .leftitem {
        display: inline-block;
        text-align: center;

        h2 {
            color: #60443a;

        }
    }

    .rightitem {
        display: inline-block;
        position: absolute;
        left: 75%;
        text-align: center;

        h5 {
            color: #60443a;
        }
    }

    hr {
        margin-top: 10px;
    }

    .edit_button {
        background-color: #fff;
        padding: 5px 10px;
        border: 3px solid $hover-color;
        cursor: pointer;
        color: #60443a;
        font-family: "Josefin Sans";
        font-weight: 400px;
        font-size: 20px;

        &:hover {
            background-color: darken($hover-color, 10%);
            color: #fff;
        }
    }
}


.content .content3 {
    padding: 10px 10px;
    position: absolute;
    top: 0%;
    left: 100%;
    background-color: #fff2e3;
    margin-left: 20px;
    font-family: "Josefin Sans";
    width: 55%;

    p {
        padding-top: 15px;
    }

    hr {
        margin-bottom: 30px;
    }
}

.btn {
    background-color: #fff;
    padding: 2px 30px;
    border: 3px solid $hover-color;
    cursor: pointer;
    color: #60443a;
    font-family: "Josefin Sans";
    font-weight: 400px;
    font-size: 20px;
    position: absolute;
    top: 30%;
    right: 10%;

    &:hover {
        background-color: darken($hover-color, 10%);
        color: #fff;
    }
}