.title {
    width: 369px;
    height: 21px;
    padding-left: 66px;
    padding-top: 188px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 130%;
    /* or 58px */
    display: flex;
    text-decoration: underline;
    text-underline-offset: 23px;
    align-items: center;
    color: #000000;
}