
ul.navbar{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    border-bottom: 2px solid #ccc;
    z-index: 10000;
    align-items: center;
    justify-content: space-between;

    li a,
    li .login{
        display: block;
        color: #000;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        font-family: Jura;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 34px;
        margin-right: 34px;
        padding: 7px;
    }
    
    li a:hover {
        text-decoration: underline;
    }
    
    .home {
        font-family: Island Moments;
        font-size: 30px;
        color: #000;
    }
    
    .login {
        border: 2px solid #000;
        border-radius: 5px;
        margin-right: 60px;
        text-decoration: none !important;
    
        &:active{
            opacity: 0.8;
        }
    }
    
    .login:hover {
        background-color: #ccc;
    }
    
    .home__icon {
        margin-right: 15px;
    }
    
    .user__icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    
    .user__icon:hover .show__option{
        display: block;
        transform-origin: calc(100% - 40px) 0;
    }

    .show__option {
        display: none;
        position: absolute;
        right: -20%;
        top: 100%;
        background-color: #fff;
        width: 150px;
        color: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        font-size: 15px;

        cursor: default;
        will-change: notifyGrowth,opacity;
        animation: notifyGrowth ease-out .15s;
        z-index: 99;

        &::before {
            content: "";
            display: block;
            height: 25px;
            width: 85px;
            position: absolute;
            top: -28%;
            right: 0px;
            background-color: #fff;
        }

        
        &::after{
            content: "";
            display: block;
            border-width: 11.2px 16px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
            position: absolute;
            top: -29%;
            right: 4px;
        }
        
        .logout:hover {
            opacity: 0.8;
            background-color: #ccc;
        }
    }


    .logout {
        cursor: pointer;
        display: block;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        font-size: 16px;
    }

}


ul.guest {
    background-color: #fff;
}


ul.logged-in {
    background-color: #CFB38C;
}
